body{
    font-family: arial;
    background: url(fundo_final.jpg);
    background-repeat:repeat ;
}
.right{
    background-color: #ccbb99;
    text-align: right;
}
.pa{
    color:#ccbb99;
    text-align: justify;
    font-weight: bold;
    text-indent: 5%;
}
.fi{
    font-style: italic;
    background-color: #ccbb99;
    
}